doctype html
head
  title #{pageTitle}
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="stylesheet", href="/css/style.admin.css")
.login-box
  h2 Login
  form
    .user-box
      input(type='text' name='' required='')
      label Username
    .user-box
      input(type='password' name='' required='')
      label Password
    a(href='#')
      span
      span
      span
      span
      |         Submit
